<!DOCTYPE html>
<html>
  <head>
    <title>Pyramids</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>

  <body>
    <section>
      <div id="header">
        <div id="top">
          <img
            id="pyr"
            src="./img/pyramids.jpg"
            alt="pyramid logo"
            width="70px"
            ;
          />
        </div>
        <div id="down">
          <div id="search">
            <form action="/search" method="get">
              <input
                id="search1"
                type="text"
                name="search"
                placeholder="Search..."
              />
              <input type="submit" value="Search" />
            </form>
          </div>

          <a href="./index.html">Home</a
          ><a href="./service.html">Our Services.</a
          ><a href="./contact.html">Contact us</a>
        </div>
      </div>
    </section>
    <section>
      <h1>Giza Pyramids Tours</h1>
      <div id="all">
        <div class="content1">
          <div>
            <img class="image" src="./img/kiss.jpg" />
          </div>
          <div class="left">
            <p class="topP">
              Trusted tour to Pyramids of Giza and Sphinx with Camel ride and
              Entrance Fees
            </p>
            <p class="bottomP">
              Set on the outskirts of Cairo, the Giza Pyramids take time to
              reach by public transport. This great-value guided tour lets you
              skip all that stress and gets you there right from your door, with
              entrance fees, lunch and onboard Wi-Fi. See the pyramids of Khufu,
              Khafre and Menkaure; capture photos from the perfect viewpoint;
              ride a camel through the desert sands; then visit the great
              Sphinx. Read more about Trusted tour to Pyramids of Giza and
              Sphinx with Camel ride and Entrance Fees -
            </p>
          </div>
          <div class="price">4 to 5 hours <br /><span>$35.00</span></div>
        </div>
      </div>
      <div id="all">
        <div class="content1">
          <div>
            <img class="image" src="./img/camel.jpg" />
          </div>
          <div class="left">
            <p class="topP">
              8-Hour Private Tour of the Pyramids, Egyptian Museum and Bazaar
              from Cairo
            </p>
            <p class="bottomP">
              Experience Cairo’s very best on a private, full-day tour that
              takes in ancient sites, artifacts, and a bustling bazaar. Ride a
              camel through the sand beside the soaring pyramids at Giza and go
              toe-to-toe with the enigmatic Sphinx. Pause for lunch before
              visiting the Egyptian Museum and explore the stunning collection
              of artifacts, mummies and royal treasures with your guide. Then
              continue to the Khan el Khalili bazaar to browse vibrant displays
              of fabrics, handicrafts, and antiques. Read more about 8-Hour
              Private Tour of the Pyramids, Egyptian Museum and Bazaar from
              Cairo -
            </p>
          </div>
          <div class="price">8 to 10 hours<br /><span>$94.00</span></div>
        </div>
      </div>
      <div id="all">
        <div class="content1">
          <div>
            <img class="image" src="./img/jymp.jpg" />
          </div>
          <div class="left">
            <p class="topP">
              Full-Day Tour to Giza Pyramids, Memphis, and Sakkara
            </p>
            <p class="bottomP">
              Discover some of Egypt’s greatest antiquities on a private Giza,
              Saqqara, and Memphis day trip from Cairo. With an Egyptologist
              guide, visit Giza to view the pyramids, Great Sphinx, and Valley
              Temple. Then, devote the afternoon to Saqqara and Memphis. Behold
              Saqqara’s age-old Step Pyramid of Zoser and scour the ruins of
              ancient Memphis, including its fallen statue of Ramses II. As this
              is a private tour, feel free to ask your guide to tailor the
              itinerary around you. Lunch, snacks, and hotel pickup and drop-off
              are all included. Read more about Full-Day Tour to Giza Pyramids,
              Memphis, and Sakkara -
            </p>
          </div>
          <div class="price">8 hours <br /><span>$60.00</span></div>
        </div>
      </div>
    </section>
  </body>
</html>
