<!DOCTYPE html>
<html>
  <head>
    <title>Pyramids</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>

  <body>
    <section>
      <div id="header">
        <div id="top">
          <img
            id="pyr"
            src="./img/pyramids.jpg"
            alt="pyramid logo"
            width="70px"
            ;
          />
        </div>
        <div id="down">
          <div id="search">
            <form action="/search" method="get">
              <input
                id="search1"
                type="text"
                name="search"
                placeholder="Search..."
              />
              <input type="submit" value="Search" />
            </form>
          </div>

          <a href="./index.html">Home</a
          ><a href="./service.html">Our Services.</a
          ><a href="./contact.html">Contact us</a>
        </div>
      </div>
    </section>
    <div class="body2">
      <div class="col1">
        <div class="topC"><img class="why" src="./img/why.jpg" /></div>
        <div class="bottomC">
          <span class="otherword">WHY US?</span>
          <p class="words">
            Whether you are on Holidays or on a Business Trip and want an escape
            and take some time to discover the city, the best way to experience
            your destination is with us at Tour Travel & More with any type of
            Private Experience and Tour in luxury vehicles and qualified and
            official tour guides.
          </p>
        </div>
      </div>
      <div class="col1">
        <div class="topC">
          <img class="why" src="./img/private-custom-ttm.jpg" />
        </div>
        <div class="bottomC">
          <span class="whyword">PRIVATE CUSTOM TOURS?</span>
          <p class="words">
            We are a group of travel experts and we love to travel! We always
            strive to make your experience memorable and unique and deliver the
            best private city tours and other private sightseeing trips and
            activities. We will pick you up from the place of your choice,
            whether it is your hotel, the port, the airport or your apartment.
            We also offer guided tours in and around every city, and special
            excursions to some “must do’s” in all locations.
          </p>
        </div>
      </div>
      <div class="col1">
        <div class="topC"><img class="why" src="./img/groups-ttm.jpg" /></div>
        <div class="bottomC">
          <span class="whyword">GROUPS & CORPORATE EVENTS</span>
          <p class="words">
            We offer private tours and experiences that range to any number of
            people you wish, always in a private experience. We have specially
            chosen the best possible tours in each city to offer you a unique
            once-in-a-life-time experience. You can also book your group service
            (Corporate Event) with us. We are specialist in private tours and we
            can offer private experiences for groups of incentives and for any
            corporate event needed in any of our cities.
          </p>
        </div>
      </div>
      <div class="col1">
        <div class="topC"><img class="why" src="./img/vriefied-ttm.jpg" /></div>
        <div class="bottomC">
          <span class="whyword">VERIFIED & VIP SERVICES</span>
          <p class="words">
            Check our verified reviews not only on our website but on many other
            websites to see real customers travel experiences. Being our
            speciality in private tours and experiences, we offer private VIP
            services including luxury vehicles, licensed tour guides and
            entrance tickets to any monument, museum or desired site. Our expert
            team is at your full disposition while creating your own customised
            travel experience.
          </p>
        </div>
      </div>
      <div class="col1">
        <div class="topC"><img class="why" src="./img/license-ttm.jpg" /></div>
        <div class="bottomC">
          <span class="whyword">LICENSED OFFICIAL GUIDES</span>
          <p class="words">
            We will drive you always in luxury licensed vehicles and our
            specialized personal is perfectly multilingual and multicultural.
            All our guides are official tour guides with their corresponding
            licenses. Your private Luxury Vehicle with chauffeur also has each
            their corresponding licenses and permits depending on each city. We
            speak your language. Let us know your desired language and we will
            do our best to offer you an official tour guide in your language.
          </p>
        </div>
      </div>
      <div class="col1">
        <div class="topC">
          <img class="why" src="./img/global-support-ttm.jpg" />
        </div>
        <div class="bottomC">
          <span class="whyword">24/7 GLOBAL SUPPORT</span>
          <p class="words">
            Don’t worry about the time difference, our expert team is at your
            disposition 24/7. We have an emergency number that is available 24/7
            and that accepts iMessages and Whatsapps and we are always here to
            help you in anyway you might need. Once booked you also have the
            Guardian Angel Service.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
